<!-- additional-resources.html -->
<!--<div>Additional resources</div>-->
<!-- <div class="col-xs-12">-->
<div class="homepage container additional-resources">

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <p data-ng-bind-html="i18n['introductory-text']" class="intro-additional"></p>
        <div class="col-sm-12 row-centered" data-ng-if="!!i18n.pagination.items.length" ng-hide="paginationHidden">
           <ul class="pagination">
                <li role=button data-ng-click="firstPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
                    <span aria-hidden="currentPage == 0">&laquo;</span>
                </li>
                <li role=button data-ng-click="previousPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
                    <span aria-hidden="currentPage == 0">&lsaquo;</span>
                </li>
                <li>
                    <span>{{currentPage+1}}/{{numberOfPages()}}</span>
                </li>
                <li role=button data-ng-click="nextPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
                    <span aria-hidden="currentPage >= results.length/pageSize - 1">&rsaquo;</span>
                </li>
                <li role=button data-ng-click="lastPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
                    <span>&rsaquo;&rsaquo;</span>
                </li>
            </ul>
        </div>
    </div>


    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pagination-results">
        <div data-ng-repeat="result in i18n.pagination.items | pagination:pageStart| limitTo:pageElem track by $index" ng-include="($index == 0)? firstItemTemplate: itemTemplate"
             data-ng-controller="AdditionalResourcesController" ng-class="result.id == 0 ? 'col-xs-12 ar-first-item' : 'col-xs-12  col-sm-6 col-md-4 col-lg-3 ar-item'"></div>
        <div class="col-sm-12" ng-hide="i18n.pagination.items.length>0" data-ng-bind="i18n['no-results']"></div>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 ">
        <div class="col-sm-12 row-centered" data-ng-if="!!i18n.pagination.items.length" ng-hide="seeAllCountryPolicy">
            <ul class="pagination">
                <li role=button data-ng-click="firstPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
                    <span aria-hidden="currentPage == 0">&laquo;</span>
                </li>
                <li role=button data-ng-click="previousPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==1 || currentPage+1==1)?'invisible':''">
                    <span aria-hidden="currentPage == 0">&lsaquo;</span>
                </li>
                <li>
                    <span>{{currentPage+1}}/{{numberOfPages()}}</span>
                </li>
                <li role=button data-ng-click="nextPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
                    <span aria-hidden="currentPage >= results.length/pageSize - 1">&rsaquo;</span>
                </li>
                <li role=button data-ng-click="lastPage()" ng-class="(currentPage+1==numberOfPages() && currentPage+1==numberOfPages())?'invisible':''">
                    <span>&rsaquo;&rsaquo;</span>
                </li>
            </ul>
        </div>

    </div>

    <!--<div class="text-center" style="padding:3em;font-size:3em">Coming soon</div>-->
</div>
<!--</div>-->
