<!-- country-comparison.html -->
<div class="country-comparison-content row page-content">

    <div class="container centered">


        <div id="country-comparison-content" class="col-lg-12 container row clearfix nopadding">
            <zylk-dashboard promises="dashboard.promises" parameters="dashboard.parameters">
                <!--id formCountryInsigth is important for fluid functionality-->
                <div id="formCountryInsigth" bs-affix data-offset-top="150">
                    <form class="selecter" style="z-index: 1">
                        <div class="col-xs-6 col-sm-6 col-md-6 text-right firstCompared">
                            <label data-ng-bind="::i18n.see_country" class="col-xs-12 col-sm-5 col-md-5 col-lg-5"></label>
                            <zylk-select ng-model="pCountry1" parameter="pCountry1" params="[['pCountry2','pCountry2']]"
                                         listen-to="['pCountry2']" query="getCountryListWithout2"
                                         cda="all-ages/dashboards/countrycardata.cda"
                                         ng-change="refreshCountryComparison()"></zylk-select>

                        </div>
                        <div class="col-xs-6  col-sm-6 col-md-6 text-left sepCompared">
                            <label data-ng-bind="::i18n.compare" class="col-xs-12 col-sm-5 col-md-5 col-lg-5"></label>
                            <zylk-select ng-model="pCountry2" parameter="pCountry2" params="[['pCountry1','pCountry1']]"
                                         listen-to="['pCountry1']" query="getCountryListWithout"
                                         cda="all-ages/dashboards/countrycardata.cda"
                                         ng-change="refreshCountryComparison()"></zylk-select>
                        </div>
                        <div class="clearfix">
                            <zylk-country-anchor></zylk-country-anchor>
                        </div>
                    </form>
                </div>


                <div class="graphBG col-xs-12">
                    <div class="row">
                        <div class="col-xs-3 col-md-3 col-lg-1 text-center firstCompared">
                            <div class="shapeContainer">
                                <i class="mg map-{{::dashboard.parameters.pCountry1.toLowerCase()}} mg-7x"></i>
                            </div>
                        </div>
                        <div class="col-xs-9 col-md-9 col-lg-5 graphBG-first">
                            <zylk-pyramid-chart data-ng-cloak
                                                query="getPyramidDataWhitYear" cda="{{ ::dashboard.cda }}"
                                                width=450 height=375 orientation="horizontal" listen-to="['pCountry1']"
                                                params="[['pCountry', 'pCountry1'],['pYears','2014;2060']]"
                                                css-class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                id="61" colors="pyramid.cc" colors2="pyramid.cc" main-bar-size="15"
                                                title="{{ ::i18n.graphics.pyramid_title }}"
                                                long-title="{{ ::i18n.graphics.pyramid_long_title }}"
                                                max-functional-legend="{{ ::i18n.graphics.pyramid_functional_legend }}"
                                                type="pyramid"
                            ></zylk-pyramid-chart>
                        </div>
                        <div class="col-xs-3 col-md-3 col-lg-1 text-center lastCompared">
                            <div class="shapeContainer">
                                <i class="mg map-{{::dashboard.parameters.pCountry2.toLowerCase()}} mg-7x"></i>
                            </div>
                        </div>
                        <div class="col-xs-9 col-md-9 col-lg-5 graphBG-second">
                            <zylk-pyramid-chart data-ng-cloak
                                                query="getPyramidDataWhitYear" cda="{{ ::dashboard.cda }}"
                                                width=450 height=375 orientation="horizontal"
                                                listen-to="['pCountry2']" params="[['pCountry', 'pCountry2'],['pYears','2014;2060']]"
                                                css-class="col-xs-12 col-sm-12 col-md-12 col-lg-12"
                                                colors="pyramid.ccc" colors2="pyramid.ccc"
                                                main-bar-size="15"
                                                title="{{ ::i18n.graphics.pyramid_title}}"
                                                long-title="{{ ::i18n.graphics.pyramid_long_title}}"
                                                max-functional-legend="{{ ::i18n.graphics.pyramid_functional_legend }}"
                                                color-map="pyramid.colorMapccc"
                                                color2-axis-map="pyramid.color2Mapccc"
                                                female-colour="2" male-colour="2"
                                                type="pyramid" id="61"
                            ></zylk-pyramid-chart>
                        </div>
                    </div>
                    <div class="row hidden-print">
                        <div class="col-xs-4 col-md-4 text-left graphBG-bt"><a class="know-more external" id="linkReport" href="#" target="_blank" data-ng-bind="::i18n.report"></a></div>
                        <div class="col-xs-4 col-md-4 text-center graphBG-bt"><a class="know-more" ui-sref="additional-resources" data-ng-bind="::i18n.infographics"></a></div>
                        <div class="col-xs-4 col-md-4 text-right graphBG-bt"><a class="know-more external" id="linkReport2" href="#" target="_blank" data-ng-bind="::i18n.report"></a></div>
                    </div>
                </div>



                <div id="country-card-content" class="col-lg-12 col-xs-12 nopadding-right">

                    <div  class="container centered">

                        <div class="layer-content">

                            <h2 data-ng-bind-html="::i18n.facts.title"></h2>

                            <ul id="section-facts-and-figures" class="country-selection">
                                <li><span class="selected"></span><span data-ng-bind="::countries[pCountry1].desc"></span></li>
                                <li><span class="selected2"></span><span data-ng-bind="::countries[pCountry2].desc"></span>
                                </li>
                                <li data-ng-bind-html="::i18n.facts.eu"></li>
                            </ul>
                            <!--figure 1-->
                            <div class="mini-bloq">
                                <zylk-bar-chart data-ng-cloak
                                                query="getEmploymentsByage" cda="{{ ::dashboard.cda }}"
                                                orientation="horizontal"
                                                listen-to="['pCountry1','pCountry2']"
                                                params="[['pCountry1', 'pCountry1'],['pCountry2','pCountry2']]"
                                                color-role="series"
                                                post-fetch="factsFigures[1].postFetch" id="63,66"
                                                title="{{::i18n.graphics.figure1_title}}"
                                                axis-percent="1" axis-fixed-min="25" axis-fixed-max="85"
                                                max-functional-legend="{{i18n.graphics.figure1_functional_legend}}"
                                ></zylk-bar-chart>
                            </div>
                            <!--figure 2-->
                            <div class="mini-bloq">

                                <zylk-bar-chart data-ng-cloak
                                                step="5" axis-fixed-min="65" ortho-axis-title="{{::i18n.units.years}}"
                                                query="getLifeHealthyYears" cda="{{ ::dashboard.cda }}"
                                                listen-to="['pCountry1','pCountry2']"
                                                params="[['pCountry1', 'pCountry1'],['pCountry2', 'pCountry2']]"
                                                color-role="series, category2"
                                                colors="['#002f9d','#529fa2','#eda308']"
                                                disable-max-legend="true"
                                                bar-fill-style="factsFigures[0].barFillStyle"
                                                id="16,28" stacked=1
                                                title="{{::i18n.graphics.figure2_title}}"
                                                long-title="{{::i18n.graphics.figure2_long_title}}"
                                                values-visible="true"
                                                label-top="figure2.labelTop"
                                                base-axis-label-text="figure2.baseAxisLabelText"
                                                base-axis-label-long-text="figure2.baseAxisLabelText"
                                                base-axis-label-visible="figure2.ccc.baseAxisLabelVisible"
                                                baseAxis-label-text-align="center"
                                                max-label-top="figure2.maxLabelTop"
                                                max-functional-legend="{{i18n.graphics.figure2_functional_legend}}"
                                ></zylk-bar-chart>
                            </div>
                            <!--figure 3-->
                            <div class="mini-bloq">
                                <zylk-bar-chart data-ng-cloak query="getDiscriminationAge" cda="{{ ::dashboard.cda }}"
                                                orientation="horizontal" listen-to="['pCountry1', 'pCountry2']"
                                                params="[['pCountry1', 'pCountry1'],['pCountry2', 'pCountry2']]"
                                                color-role="c"
                                                post-fetch="factsFigures[1].postFetch" id="42"
                                                axis-percent="1"
                                ></zylk-bar-chart>

                            </div>
                            <div class="mini-bloq">
                                <!--figure 4-->
                                <zylk-bar-chart data-ng-cloak query="getOldersKeepWorking" cda="{{ ::dashboard.cda }}"
                                                listen-to="['pCountry1','pCountry2']"
                                                params="[['pCountry1', 'pCountry1'],['pCountry2', 'pCountry2']]"
                                                colors="['#002f9d','#eda308']" color-role="s" id="33"
                                                title="{{ ::i18n.graphics.figure4_title }}"
                                                long-title="{{ ::i18n.graphics.figure4_long_title }}"
                                                post-fetch="factsFigures[1].postFetch"
                                                axis-percent="1"
                                ></zylk-bar-chart>

                            </div>
                            <!--figure 5-->
                            <div class="mini-bloq">
                                <zylk-bar-chart data-ng-cloak query="getWorkplaceRiskAssessment"
                                                cda="{{ ::dashboard.cda }}"
                                                orientation="vertical" listen-to="['pCountry1','pCountry2']"
                                                params="[['pCountry1', 'pCountry1'],['pCountry2', 'pCountry2']]"
                                                post-fetch="factsFigures[1].postFetch"
                                                color-role="c" id="59"
                                                axis-percent="1"
                                ></zylk-bar-chart>
                            </div>
                        </div>

                    </div>

                    <div class="col-xs-12 section-fix">
                        <h2><span class="icon section-grouping"></span>
                        <div class="col-lg-12" id="section-grouping-caption" data-ng-bind="::i18n.section.grouping"></div></h2>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding firstCompared">
                            <zylk-section type='grouping' map-promise='promises.europePromise'
                                          compare="1"
                                          group-list="groupList" country='pCountry1'
                                          color-index="1"
                                          background-shape-color="mapColors.euBg"
                                          group-color="mapColors.c1"
                                          promises="dashboard.promises"
                                          parameters="dashboard.parameters">
                            ></zylk-section>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding lastCompared">
                            <zylk-section type='grouping' map-promise='promises.europePromise'
                                          compare="2" country='pCountry2'
                                          group-list="groupList"
                                          color-index="2"
                                          background-shape-color="mapColors.euBg"
                                          group-color="mapColors.c2"
                                          promises="dashboard.promises"
                                          parameters="dashboard.parameters">
                            ></zylk-section>
                        </div>

                    </div>

                    <div class="col-xs-12 section-fix">
                        <h2>
                            <span class="icon section-main-initiatives"></span>
                            <div class="col-lg-12" id="section-main-initiatives-caption" data-ng-bind="::i18n.section.policies"></div>
                        </h2>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding policiesCC compare1">
                            <zylk-section type='main-initiatives' compare="1" promise="promises.europePromise"></zylk-section>

                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding policiesCC compare2">
                            <zylk-section type='main-initiatives' compare="2" promise="promises.europePromise"></zylk-section>
                        </div>
                    </div>

                    <div class="col-xs-12 section-fix">
                        <h2><span class="icon section-other-initiatives"></span>
                            <div class="col-lg-12" id="section-other-initiatives-caption" data-ng-bind="::i18n.section.iniciatives"></div>
                        </h2>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding policiesCC compare1">
                            <zylk-section type='other-initiatives' compare="1"></zylk-section>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding policiesCC compare2">
                            <zylk-section type='other-initiatives' compare="2"></zylk-section>
                        </div>
                    </div>

                    <div class="col-xs-12 section-fix">
                        <h2><span class="icon section-context"></span>
                        <div class="col-lg-12" id="section-context-caption"
                             data-ng-bind="::i18n.section.context"></div></h2>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding">
                            <zylk-section type='context' compare="1"></zylk-section>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding">
                            <zylk-section type='context' compare="2"></zylk-section>
                        </div>
                        <div class="col-xs-12 hidden-print contextContent">
                            <a class="know-more external" href="https://osha.europa.eu/en/surveys-and-statistics-osh/esener"
                               target="_blank" data-ng-bind="::i18n.esener"></a>
                        </div>
                    </div>

                    <div class="col-xs-12 section-fix">
                        <h2><span class="icon section-challenges"></span>
                        <div class="col-lg-12" id="section-challenges-caption"
                             data-ng-bind="::i18n.section.challenges"></div></h2>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding">
                            <zylk-section type='challenges' compare="1"></zylk-section>
                        </div>

                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding">
                            <zylk-section type='challenges' compare="2"></zylk-section>
                        </div>

                    </div>
                    <div class="col-xs-12 section-fix glossaryContent">
                        <h2><span class="icon section-stakeholders"></span>
                        <div class="col-lg-12" id="section-stakeholders-caption"
                             data-ng-bind="::i18n.section.stakeholders"></div></h2>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding">
                            <zylk-section type='stakeholders' compare="1"></zylk-section>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 nopadding">
                            <zylk-section type='stakeholders' compare="2"></zylk-section>
                        </div>
                        <div class="col-xs-12 hidden-print">
                            <a class="know-more" ui-sref="glossary({})" data-ng-bind="::i18n.glossary"></a>
                        </div>
                    </div>
                </div>
            </zylk-dashboard>
        </div>
    </div>
</div>
