<div class="system stake"><!-- columns2 -->
    <div class="bloq bloque">
        <div class="bg-white">
        <div class="cover"></div>
            <p class="item"></p>
            <div class="item"></div>
        </div>
    </div>
</div>
<div class="text-right col-xs-12 seeMoreDiv"><a data-ng-bind="::i18n['see-more']" role="button" class="know-more seemore ng-binding vdStake"><span>See more</span>&nbsp;</a></div>
 <div class="col-xs-12  hidden-print">
     <a class="pull-left oshwiki know-more external" target="_blank">Do you want to know more about these themes?</a>
     <a class="pull-right know-more glossary" ui-sref="glossary">See glossary</a>
</div>