<div id="issue-structure" ng-controller="IssueController" class="home row page-content challenges">
    <zylk-dashboard promises="promises" parameters="dashboard.parameters" style="overflow:auto">
        <zylk-menu-issue data-ng-cloak></zylk-menu-issue>
        <div class="container centered">
            <div class="main-indicator col-xs-12 col-md-12 col-lg-6">
                <h2 class="col-xs-12 title" data-ng-bind="story_title"></h2>
                <zylk-bar-chart data-ng-cloak query="getIssueStory3Main" cda="{{::dashboard.cda }}"
                                width=700 height=330 orientation="vertical"
                                listen-to="['pCountry1', 'pCountry2']"
                                color-role="c" colors="stories[2].color"
                                post-fetch="stories[2].postfetch"
                                click-action="stories[2].onClick"
                                axis-fixed-min="10" axis-fixed-max="50"
                                axis-label-font = 'normal 8px "Open Sans"' angle="1"
                                axis-percent="1"
                                show-title="-1"
                                id="33"></zylk-bar-chart>
                <div class="col-xs-12 text-left story_description">
                    <span data-ng-bind-html="story_description"></span>
                </div>


                <div class="col-xs-12 links">
                    <div class="col-xs-12 link text-right"><a ui-sref="methodology({'anchor':'key-issue'})" class="know-more" data-ng-bind="i18n.common['data-sources']"></a></div>
                    <div class="col-xs-12 link approach text-right">
                        <span data-ng-bind="i18n.common['policy-approach'].text"></span>
                        <a ui-sref="policy" class="btn btn-default" role="button" data-ng-bind="i18n.common['policy-approach'].btn2"></a>
                        <a ui-sref="approaches-indicators" class="btn btn-default" role="button" data-ng-bind="i18n.common['policy-approach'].btn"></a>
                    </div>
            </div>
        </div>

            <!-- COMPARATOR -->
            <div class="col-xs-12 col-md-12 col-lg-6 story-combo-compared">
                <form class="selecter" style="z-index: 1">
                    <div class="col-xs-12 col-sm-6 col-md-6 first-comparator">
                        <label>Country</label>

                        <zylk-select data-ng-cloak ng-model="pCountry1" parameter="pCountry1" params="[['pCountry2','pCountry2']]" listen-to="['pCountry2']" query="getCountryListWithout2" cda="{{ dashboard.cda }}" ng-change="refreshIssue()"></zylk-select>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-6 second-comparator {{EUClass}}">
                        <label data-ng-bind="i18n.compare"></label>
                        <zylk-select data-ng-cloak ng-model="pCountry2" parameter="pCountry2" params="[['pCountry1','pCountry1']]" listen-to="['pCountry1']" query="getCountryListWithout" cda="{{ dashboard.cda }}" ng-change="refreshIssue()"></zylk-select>
                    </div>
                </form>
            </div>
            <!-- END COMPARATOR -->

            <div class="col-xs-12 col-md-12 col-lg-6">
                <div class="contextual-indicators clearfix">
                    <h2 class="col-xs-12 title" data-ng-bind="i18n['impact-work-health']['contextual-1']"></h2>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 heighth32">
                        <zylk-bar-chart data-ng-cloak query="getWorkplaceExposures1" cda="{{::dashboard.cda }}"
                                        listen-to="['pCountry1', 'pCountry2']"
                                        params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                        color-role="s" colors="['#002f9d','#eda308']"
                                        axis-fixed-max="90" axis-percent="1" angle="2"
                                        post-fetch="stories[0].postfetch"
                                        id="68"
                        ></zylk-bar-chart>
                    </div>
                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 heighth32">
                        <zylk-bar-chart data-ng-cloak query="getWorkplaceExposures2" cda="{{::dashboard.cda }}"
                                        width=290 height=250
                                        orientation="vertical"
                                        color-role="s"
                                        listen-to="['pCountry1', 'pCountry2']"
                                        params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                        post-fetch="stories[0].postfetch"
                                        axis-fixed-max="40" axis-percent="1" angle="2"
                                        id="82"
                        ></zylk-bar-chart>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  heighth32">
                        <zylk-bar-chart data-ng-cloak query="getRiskEnterprises" cda="{{::dashboard.cda }}"
                                        width=290 height=250
                                        orientation="vertical"
                                        color-role="s"
                                        listen-to="['pCountry1', 'pCountry2']"
                                        params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                        p-x-labels="1" p-y-labels="1"
                                        post-fetch="stories[0].postfetch"
                                        axis-fixed-min="10" axis-fixed-max="80" axis-percent="1" angle="1"
                                        id="78"
                        ></zylk-bar-chart>
                    </div>


                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 heighth32">
                        <zylk-bar-chart data-ng-cloak query="getNoRiskAssessment" cda="{{::dashboard.cda }}"
                                        post-fetch="stories[0].postfetch"
                                        orientation="horizontal"
                                        listen-to="['pCountry1', 'pCountry2']"
                                        params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                        color-role="c" colors="['#002f9d','#eda308']"
                                        axis-fixed-max="70"
                                        axis-percent="1"
                                        id="85"
                        ></zylk-bar-chart>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6  heighth32">
                        <zylk-bar-chart data-ng-cloak query="getWorkRelatedHLProblems" cda="{{::dashboard.cda }}"
                                        width="280" height="250" orientation="horizontal"
                                        listen-to="['pCountry1', 'pCountry2']"
                                        params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                        post-fetch="stories[0].postfetch"
                                        axis-fixed-max="40" axis-percent="1"
                                        color-role="c" id="40"
                        ></zylk-bar-chart>
                    </div>

                    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 heighth32">
                        <zylk-bar-chart data-ng-cloak query="getExposuresToRisk" cda="{{::dashboard.cda }}"
                                        width=290 height=250
                                        post-fetch="stories[0].postfetch"
                                        color-role="s"
                                        listen-to="['pCountry1', 'pCountry2']"
                                        params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                        axis-fixed-max="80" axis-percent="1"
                                        id="79"
                        ></zylk-bar-chart>
                    </div>
                </div>
            </div>
        </div>
    </zylk-dashboard>
</div>