<div id="issue-structure" ng-controller="IssueController" class="home row page-content">
    <zylk-dashboard promises="promises" parameters="dashboard.parameters" style="overflow:auto">

        <zylk-menu-issue data-ng-cloak></zylk-menu-issue>
        <div class="container centered">
            <div class="main-indicator col-xs-12 col-md-12 col-lg-6">
                <div class="col-xs-12 nopadding" data-ng-hide="historical">
                    <h2 class="col-xs-12 title" data-ng-bind="story_title"></h2>
                    <zylk-radar-chart
                            data-ng-cloak
                            promises="stories[1].promises"
                            listen-to="['pCountry1','pCountry2']"
                            country1="dashboard.parameters.pCountry1"
                            country2="dashboard.parameters.pCountry2"
                            width="800" height="700"
                            status="older-workers-employment"
                            id="66" show-title="-1"
                            radio="300" values-format="%"
                            post-fetch="stories[2].postfetch"
                            click-action="stories[2].onClick"
                            mesh-size="30"
                            contextuals="[['Maximize', 'maximize'], ['Historical', enableHistorical]]"
                            max-functional-legend="{{::i18n.figures.is2_main_functional_legend}}"
                            historical="true">
                    </zylk-radar-chart>
                </div>
                <div class="col-xs-12 nopadding" data-ng-show="historical">
                    <h2 class="col-xs-12 title" data-ng-bind="i18n.historical"></h2>
                    <span data-ng-click="disableHistorical()" class="back historical cursor-pointer" data-ng-bind="i18n.back"></span>
                    <zylk-bar-chart data-ng-cloak query="getIS2Historical" cda="{{::dashboard.historicalCda }}"
                                    width="700" height="250" orientation="vertical"
                                    listen-to="['pCountry1', 'pCountry2']"
                                    id="66"
                                    params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                    color-role="s" colors="['#002f9d','#eda308']"
                                    step="10"
                                    post-fetch="stories[2].postfetch" angle="1"
                                    id="19" type="lines"
                                    show-title="-1"
                                    long-title="{{::i18n.historical}}"
                    ></zylk-bar-chart>
                </div>
                <div class="col-xs-12 text-left story_description">
                    <span data-ng-bind-html="story_description"></span>
                </div>

                <div class="col-xs-12 links">
                    <!--<div class="col-xs-12 link text-right"><a data-ng-bind="i18n.common.historical"></a></div>-->
                    <div class="col-xs-12 link text-right"><a ui-sref="methodology({'anchor':'key-issue'})" class="know-more" data-ng-bind="i18n.common['data-sources']"></a></div>
                    <div class="col-xs-12 link approach text-right">
                        <span data-ng-bind="i18n.common['policy-approach'].text"></span>
                        <a ui-sref="policy" class="btn btn-default" role="button" data-ng-bind="i18n.common['policy-approach'].btn2"></a>
                        <a ui-sref="approaches-indicators" class="btn btn-default" role="button" data-ng-bind="i18n.common['policy-approach'].btn"></a>
                    </div>
                </div>
            </div>

            <!-- COMPARATOR -->
            <div class="col-xs-12 col-md-12 col-lg-6 story-combo-compared">
                <form class="selecter" style="z-index: 1">
                    <div class="col-xs-12 col-sm-6 col-md-6 first-comparator">
                        <label>Country</label>

                        <zylk-select data-ng-cloak ng-model="pCountry1" parameter="pCountry1" params="[['pCountry2','pCountry2']]" listen-to="['pCountry2']" query="getCountryListWithout2" cda="{{ dashboard.cda }}" ng-change="refreshIssue()"></zylk-select>
                    </div>

                    <div class="col-xs-12 col-sm-6  col-md-6 second-comparator {{EUClass}}">
                        <label data-ng-bind="i18n.compare"></label>
                        <zylk-select data-ng-cloak ng-model="pCountry2" parameter="pCountry2" params="[['pCountry1','pCountry1']]" listen-to="['pCountry1']" query="getCountryListWithout" cda="{{ dashboard.cda }}" ng-change="refreshIssue()"></zylk-select>
                    </div>
                </form>
            </div>
            <!-- END COMPARATOR -->

            <div class="col-xs-12 col-md-12 col-lg-6">
                <!-- 2 COLUMNS -->
                <div class="col-xs-12 col-md-6 col-lg-6 contextual-indicators-left">
                    <div class="contextual-indicators clearfix">
                        <h2 class="col-xs-12 title" data-ng-bind="i18n['labour-market-participation']['contextual-1']"></h2>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 heighth32">
                            <zylk-bar-chart data-ng-cloak
                                            query="getWorkersAffectNeg" cda="{{::dashboard.cda }}"
                                            listen-to="['pCountry1', 'pCountry2']"
                                            params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                            post-fetch="stories[0].postfetch"
                                            axis-fixed-max="50" axis-percent="1" angle="2"
                                            color-role="s" id="34"
                            ></zylk-bar-chart>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 heighth32">
                            <zylk-bar-chart data-ng-cloak
                                            query="getWorkRelatedHLProblems" cda="{{::dashboard.cda }}"
                                            orientation="horizontal"
                                            listen-to="['pCountry1', 'pCountry2']"
                                            params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                            post-fetch="stories[0].postfetch" axis-fixed-max="40"
                                            color-role="c" id="40"
                                            axis-percent="1"

                            ></zylk-bar-chart>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 heighth32">
                            <zylk-bar-chart data-ng-cloak query="getRTWEsener" cda="{{::dashboard.cda }}"
                                            orientation="horizontal"
                                            listen-to="['pCountry1', 'pCountry2']"
                                            params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                            post-fetch="stories[0].postfetch" axis-fixed-max="100" axis-percent="1"
                                            color-role="s" id="69"
                            ></zylk-bar-chart>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-md-6 col-lg-6 contextual-indicators-right">
                    <div class="contextual-indicators clearfix">
                        <h2 class="col-xs-12 title" data-ng-bind="i18n.contextual_commons_title"></h2>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 heighth32">
                            <zylk-bar-chart data-ng-cloak
                                            step="5" axis-fixed-min="10" axis-fixed-min="70" axis-percent="1"
                                            query="getOldAgeDependencyRatio" cda="{{::dashboard.cda }}"
                                            listen-to="['pCountry1', 'pCountry2']"
                                            params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                            id="18" stacked=1
                                            values-visible="true"
                                            post-fetch="stories[6].postfetch"
                                            color-role="category,series"
                                            label-top="stories[6].labelTop"
                                            dimensions="stories[6].dimensions"
                            ></zylk-bar-chart>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 heighth32">
                            <zylk-bar-chart data-ng-cloak query="getUnemployment" cda="{{::dashboard.cda }}"
                                            listen-to="['pCountry1', 'pCountry2']"
                                            params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                            post-fetch="stories[0].postfetch" axis-fixed-max="25"
                                            color-role="s" id="67"
                                            axis-percent="1"
                            ></zylk-bar-chart>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 heighth32">
                            <zylk-bar-chart
                                    data-ng-cloak
                                    params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                    listen-to="['pCountry1','pCountry2']"
                                    query="getGDPPerCapita" cda="{{::dashboard.cda }}"
                                    colors="['#005CA7', '#FFC20F', '#333333']"
                                    angle="1"
                                    color-role="country"
                                    plots="stories[5].plots" readers="stories[5].readers"
                                    dimensions="stories[5].dimensions"
                                    post-fetch="stories[0].postfetch"
                                    ortho-axis-title-visible="1"
                                    ortho2-axis-title="{{::i18n.units.gdpgrowth}}"
                                    ortho-axis-title="{{::i18n.units.gdp}}"
                                    id="58,55"
                                    title="{{::i18n.graphics_multiindicator.gdp_growth_historical}}"
                                    long-title="{{::i18n.graphics_multiindicator.gdp_growth_historical_long}}"
                                    max-functional-legend="{{::i18n.graphics_multiindicator.gdp_growth_historical_functional_legend }}"
                                    axis-fixed-min="0" axis-fixed-max="100000"
                                    axis2-fixed-min="-15" axis2-fixed-max="15"
                            ></zylk-bar-chart>
                        </div>
                    </div>
                </div>

             <!--  1 COLUMN -->
             <div class="col-xs-12 col-md-12 col-lg-12 nopadding">
                    <div class="contextual-indicators clearfix">
                        <h2 class="col-xs-12 title">Do they want to?</h2>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 heighth33">
                            <zylk-bar-chart data-ng-cloak query="getDissatisfactionOlderWorkingConditions" cda="{{::dashboard.cda }}"
                                            listen-to="['pCountry1', 'pCountry2']"
                                            params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                            colors="['#002f9d','#eda308']"
                                            post-fetch="stories[0].postfetch" axis-fixed-max="30"
                                            color-role="c" id="35"
                                            axis-percent="1"
                            ></zylk-bar-chart>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 heighth33">
                            <zylk-bar-chart data-ng-cloak query="getSharePensionersContinueWorking" cda="{{::dashboard.cda }}"
                                            orientation="horizontal"
                                            listen-to="['pCountry1', 'pCountry2']"
                                            params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                            colors="['#002f9d','#eda308']"
                                            post-fetch="stories[0].postfetch" axis-fixed-max="100"
                                            color-role="c" id="15"
                                            axis-percent="1"
                            ></zylk-bar-chart>
                        </div>
                        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 heighth32">
                            <zylk-bar-chart data-ng-cloak query="getShareAgeDiscrimination" cda="{{::dashboard.cda }}"
                                            orientation="horizontal"
                                            listen-to="['pCountry1', 'pCountry2']"
                                            params="[['pCountry1', 'pCountry1'], ['pCountry2','pCountry2']]"
                                            colors="['#002f9d','#eda308']"
                                            p-x-labels="1" p-y-labels="1"
                                            post-fetch="stories[0].postfetch"
                                            axis-fixed-min="10" axis-fixed-max="80" axis-percent="1"
                                            color-role="c"
                                            id="42" ></zylk-bar-chart>
                        </div>
                    </div>
                </div>
                <!-- END  1 COLUMN -->
            </div>
        </div>
    </zylk-dashboard>
</div>